body{
  background-color:rgb(2, 17, 43);
  font-family:  'Uncial Antiqua', cursive;
  color:white;
  background-image: url('https://videos.openai.com/vg-assets/assets%2Ftask_01jttz6abxepwapqgtwv8wnpbm%2F1746809416_img_0.webp?st=2025-05-09T14%3A56%3A32Z&se=2025-05-15T15%3A56%3A32Z&sks=b&skt=2025-05-09T14%3A56%3A32Z&ske=2025-05-15T15%3A56%3A32Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=3d249c53-07fa-4ba4-9b65-0bf8eb4ea46a&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=iDCK2awnwEU1jJw%2BN5k58PUACp3UAnVBI2H3o1CKLOY%3D&az=oaivgprodscus');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.magic{
  animation: flicker 1.5s infinite alternate;
  color: white;
  text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #f0f;
}
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.glorbo{
  animation: flicker 1.5s infinite alternate;
  color: white;
  text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #f0f;
  display: inline-block;
}
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.about{
  display:inline-block;
  width: 300px;
  margin: 10px;
  border:2px dashed white;
}

.fucts{
  display:inline;
  text-align:center;
  width: 600px;
  float: right;
  border: 2px dashed white;
}
.center{
  display:inline-block;
  width: 210px;
}

.all{
  display: flex;
justify-content: center;
}

a{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.p {
      max-width: 600px;
      font-size: 18px;
      line-height: 1.6;
      animation: fadeIn 3s ease-in-out forwards;
      opacity: 0;
      text-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #7f30ff;
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }

      .header{
        width: 840px;
        text-align:center;
      } 

      header nav{
        text-align: center;
        display:inline-block;
      }

      .container{
      display:flex;
      justify-content:center;
      }


header nav{
  text-align:center;
}

 
